<!doctype html>
<html lang="en">

<% include ./headers/header %>

<body>
    
        <div style="height:6%;line-height:60px;vertical-align:middle;">
            <div>
                보기모드 : <button class="cbutton" onclick="location.href='eventmap'">지 도</button>
                <button class="cbutton" onclick="location.href='heatmap'">히트맵</button>
                <button class="cbutton" onclick="location.href='timelinemap'">타임라인</button>
                         
            </div>
            <!-- <div style="float:right;">
                <button class="cbutton">키 퍼</button>
                <button class="cbutton">감 시</button>
                <button class="cbutton">교차로</button>
            </div> -->
        </div>

        <!-- DIV pour la carte -->
        <div id="map" style="height:94%;"></div>
        

    <script type="text/javascript"> 

        var view = new ol.View({
            projection: 'EPSG:4326',
            center: [106.764194, 10.854639],
            // center: [127.153789, 35.823685],
            zoom: 16
        });

        var map = new ol.Map({
            target: 'map',
            layers: [
                new olgm.layer.Google(

                ),                
                new ol.layer.Tile({
                    // A layer must have a title to appear in the layerswitcher
                    title: 'VWorld 2D',
                    // Again set this layer as a base layer
                    type: 'base',
                    visible: false,
                    source: new ol.source.XYZ({
                        url: 'http://xdworld.vworld.kr:8080/2d/Base/service/{z}/{x}/{y}.png'
                    })
                }),
                new ol.layer.Tile({
                    // A layer must have a title to appear in the layerswitcher
                    title: 'VWorld 2D 위성지도',
                    // Again set this layer as a base layer
                    type: 'base',
                    visible: false,
                    source: new ol.source.XYZ({
                        url: 'http://xdworld.vworld.kr:8080/2d/Satellite/service/{z}/{x}/{y}.jpeg'
                    })
                }),
                new ol.layer.Tile({
                    // A layer must have a title to appear in the layerswitcher
                    title: 'OSM',
                    // Again set this layer as a base layer
                    type: 'base',
                    visible: true,
                    source: new ol.source.OSM()
                })
            ],
            view: view
        });
       


        var socket = io.connect();

        // 서버로 메시지 송신
        // socket.emit("event_name", msg);

        // 서버로부터 메시지 수신
        socket.on('kafka_msg', function (data) {
            console.log(data);
            // view.animate({
            //     center: [127.151689, 35.827485],
            //     duration: 1500
            // });
        });

        var zoomslider = new ol.control.ZoomSlider();
        map.addControl(zoomslider);   

        var layerSwitcher = new ol.control.LayerSwitcher({
            tipLabel: 'Légende', // Optional label for button
            groupSelectStyle: 'children' // Can be 'children' [default], 'group' or 'none'
        });
        map.addControl(layerSwitcher);
       
        var marker = new ol.Overlay({
        position: [127.153789, 35.823685],
        positioning: 'center-center',
        element: document.getElementById('marker'),
        stopEvent: false
      });
      map.addOverlay(marker);
        

        // var socket = io.connect();


        // /** 
        //  * 함수 : 이벤트별 소켓 처리 함수
        //  * 설명 : KAFKA 이벤트 메시지에서 이벤트 ID 별로 파싱한 후 개별 이벤트 처리를 담당한다.
        //  * 매개변수 : 없음
        //  * 반환값 : 없음
        //  * AJAX 처리 : 없음
        //  */
        // socket.on('kafka_msg', function (data) {
        //     var total_msg = JSON.parse(data);




        // }
       
        

    </script>


</body>

</html>